@model IQueryable<AllAuto.Domain.Entity.SparePart>
@using AllAuto.Domain.Extensions

@{
    ViewBag.Title = "Список автомобилей";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/card.css" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>


<div class="site_width">
    <div class="card-buttons-group">
        @if (User.IsInRole("Admin"))
        {
            <button class='btn btn-success' id='addPartId'>Добавить</button>
            <button class="btn btn-success" id="addPartsFromExcel">Добавить из файла</button>
        }
    </div>

    @if (Model == null)
    {
        <div class="card col-md-12">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-center">Список запчастей пуст :(</h5>
                        <p class="card-text">
                            Список доступных запчастей пополниться позже
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <br />
        @foreach (var sparePart in Model)
        {
            <div class="row spare-part-card">
                <div class="col">
                    <div class="icon icon-container">
                        @{
                            string base64 = sparePart.Avatar != Array.Empty<byte>()
                            ? Convert.ToBase64String(sparePart.Avatar)
                            : string.Empty;

                            var imgSrc = $"data:image/jpeg;base64,{base64}";
                            if (base64 == string.Empty)
                            {
                                imgSrc = "../images/no-image.jpeg";
                            }
                        }

                        <img src="@imgSrc"
                             alt="@sparePart.Name" style="height: inherit; width: inherit">
                    </div>
                </div>

                <div class="name col-3">
                    <a href="#" class="text-start stretched-link" onclick="openModal({url: '/SparePart/GetSparePart', data: '@sparePart.Id' })"
                       data-toggle="ajax-modal" data-target="Modal">
                        @sparePart.Name
                    </a>
                </div>

                <div class="manufacture col">
                    <p class="card-text">@sparePart.Model</p>
                </div>

                <div class="desription col-1 align-self-center">
                    <p class="card-text">@sparePart.Description</p>
                </div>

                <div class="col">
                    Стоимость: @sparePart.Price ₽
                </div>

                <div class="col">
                    @sparePart.TypeSparePart.GetDisplayName()
                </div>

                <div class="col">
                    <div class="counter @sparePart">
                        <input id="amount @sparePart.Id" value="1" data-step="1" data-min="1" data-max="100" />
                    </div>
                </div>

                <div class="col">
                    <button data-partid="@sparePart.Id" class="add-part btn btn-light w-lg-100 ">Добавить</button>
                </div>


                @if (User.IsInRole("Admin"))
                {
                    <div class="col">
                        <button asp-controller="SparePart" asp-action="Delete" asp-route-id="@sparePart.Id" class="btn btn-danger">Удалить</button>
                    </div>
                }
            </div>
            <br />
        }
    }
</div>


@section pageScripts {
    <script src="~/js/modal.js"></script>
    <script>
        let modal = $('#modalWhButtons');

        $(".btn-close").click(function () {
            modal.modal('hide');
        });

        $('#addPartId').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '/SparePart/Save',
                success: function (response) {
                    $('.modal-dialog').removeClass("modal-lg");
                    modal.find(".modal-body").html(response);
                    modal.modal('show')
                },
                failure: function () {
                    modal.modal('hide')
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $('#addPartsFromExcel').on('click', function () {
            modal.modal('show')
            $.ajax({
                type: 'GET',
                url: '/SparePart/LoadFromExcel',
                success: function (response) {
                    $('.modal-dialog').removeClass("modal-lg");
                    modal.find(".modal-body").html(response);
                    modal.modal('show')
                },
                failure: function () {
                    modal.modal('hide')
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        // /Order/AddEntryItem
        $('.add-part').click(function (e) {
            e.preventDefault();
            const model = $(this).data('partid');
            const amount = document.getElementById('amount ' + model).value;
            console.log(amount);
            $.ajax({
                url: '/Order/AddEntryItem',
                type: 'GET',
                data: { partId: model, amountCount: amount },
                success: function (response) {
                    Swal.fire({
                        title: 'Товар добавлен',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей',
                        willClose: function () {
                            location.reload();
                        }
                    });
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: 'Ошибка валидации | Заполните все поля',
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                }
            });
        });

    </script>
}
