@model IEnumerable<AllAuto.Domain.ViewModels.Order.OrderViewModel>

@{
    ViewBag.Title = "Корзина";
    Layout = "_Layout";
}

@if (Model == null || Model.Count() == 0)
{
    <div style="padding:40px;"></div>
    <div class="card col-md-12">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title text-center">Список заказов пуст</h5>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container ">
        <div class="row justify-content-center">
            <table class="table w-75">
                <thead>
                    <tr>
                        <th scope="col">Наименование</th>
                        <th scope="col">Производитель</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Удалить</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <th scope="row"> @item.Name</th>
                            <td>@item.Manufactor</td>
                            <td>@item.Price ₽</td>
                            <td><a asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a></td>
                        </tr>
                    </tbody>
                }

                <tbody>
                    <tr>
                        <th scope="row">Итого</th>
                        <td></td>
                        <td>@Model.Sum(x => x.Price) ₽</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="row col-4 justify-content-center">
                <a asp-controller="Order" asp-action="CreateOrder" class="btn btn-primary">Оформить</a>
            </div>
        </div>
       
    </div>
   

    
}